{% extends 'main.html' %}

{% block content %}
<div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title badge bg-success">{{ profile.username }}</h5>
      <p class="card-text">First Name: {{ profile.first_name }}</p>
      <p class="card-text">Last Name: {{ profile.last_name }}</p>
      {% if request.user.guide %}
      <a href="{% url 'guide-edit' %}"> Edit</a>
      {% endif %}
      <p class="card-text">Email: {{ profile.email }}</p>
      {% if profile.bio %}
      <p class="card-text">{{ profile.bio }}</p>
      {% endif %}
      {% if profile.location %}
      <p class="card-text">I am from {{ profile.location }}</p>
      {% endif %}
      <p class="card-text">Phone: {{ profile.phone }}</p>
    </div>
</div>
{% endblock content %}
